<form method="post" action="{{ path('grille_tarifaire_delete', {'id': grille_tarifaire.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ grille_tarifaire.id) }}">
    <button class="btn btn-primary" style="width:100px;background-color:Red"  ><i class="icon-bin2"></i> Supprimer</button>
</form>
