<form method="post" action="{{ path('croissiere_delete', {'id': croissiere.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ croissiere.id) }}">
    <button class="btn btn-primary" style="width:100px;background-color:Red"  ><i class="icon-bin2"></i> Supprimer</button>
</form>
