{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary" style="width:100px;background-color:ForestGreen" ><i class="icon-floppy-disk"></i> {{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
