{{ form_start(form) }}
    {{ form_widget(form) }}
    <button  class="btn btn-primary" style="width:100px" ><i class="icon-floppy-disk"></i> {{ button_label|default('Save') }}</button>
{{ form_end(form) }}

